/*
Obsidian Bases Cards - Music Catalog Styles
https://github.com/EzraMarks/obsidian-bases-css-guide

Styles specific to the music library example.
*/

.bases-cards-property[data-property^="formula.packed"] {

  /* Leave space for link icon */
  &[data-property^="formula.packed_music"] .subtitle {
    width: calc(100% - 32px);
  }

  /* Clickable external link icon, positioned at bottom right of card */
  .link-icon a {
    pointer-events: auto;
    /* Re-enable clicking for this specific link */
    position: absolute;
    right: 8px;
    bottom: -46px;
    width: 18px;
    aspect-ratio: 1;
    background-color: var(--text-normal);
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></svg>');
  }

  /* Folder-based title icons */

  .title-icon[class*="folder-"][class*="Artists"]::before {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>');
  }

  .title-icon[class*="folder-"][class*="Albums"]::before {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 14.5c-2.49 0-4.5-2.01-4.5-4.5S9.51 7.5 12 7.5s4.5 2.01 4.5 4.5-2.01 4.5-4.5 4.5zm0-5.5c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1z"/></svg>');
  }

  .title-icon[class*="folder-"][class*="Tracks"]::before {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 3v10.55c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4V7h4V3h-6z"/></svg>');
  }
}